.product-wrapper {
  padding: 20px 60px;
}

.product {
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.product:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.product__category {
  color: #424242;
  font-size: 12px;
  margin: 18px 0px 0px 0px;
}

.product__name {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin: 6px 0px 0px 0px;
}

.product__price {
  color: #ff7679;
  font-size: 16px;
  font-weight: 600;
  margin: 14px 0px 0px 0px;
}

.bottom-add-on {
  margin: 10px 0px 0px 0px;
}
