.header {
  height: 113px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #dadada;
}

.header > a > h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  font-weight: 600;
}
