.header {
  height: 113px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #dadada;
}

.header > a > h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  font-weight: 600;
}

.header > button {
  cursor: pointer;
  border-radius: 30px;
  background: #191921;
  display: flex;
  padding: 16px 26px;
  place-items: center;
  gap: 5px;
}

.header > button > span {
  color: #fcfbf6;
  font-size: 15px;
  font-weight: 500;
}
